@import url(./Tudo.css);

.titulos {
    font-family: 'Passion One', cursive;
    font-size: 5vw;
}

.explicacao {
    display: flex;
    flex-direction: row;
    padding: 3vw 7vw 3vw 1vw;
    height: 80vw;
    justify-content: space-between;
}

.explicacao p {
    font-size: 2.5vw;
    text-align: justify;
}

#texto-img {
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 4vw;
}

#texto-img img {
    width: 20vw;
    height: 40vw;
}

#texto-img h1 {
    margin-bottom: 7vw;
}

.fontes {
    background: var(--Fundo-dois);
    height: 27vw;
    display: flex;
    flex-direction: row;
}

.text-font {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-site {
    font-size: 2.85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9vw;
}

.videos {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.videos a, .site a {
    color: white;
}